VITE_API_URL=http://localhost:8000/api
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xZ292ZG5xa2NnYmtjc3hhYnJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NjU1ODgsImV4cCI6MjEwNTA0MTU4OH0.Yl1-Wizh2fy64Vyjuolbn6xC9XAeWshns282QInN4eQ
VITE_SUPABASE_URL=https://oqgovdnqkcgbkcsxabrz.supabase.co
